.article-card-wrapper {
	overflow: hidden;
	width: 50%;
}

.michigan-card {
	--color-card: var(--color-daily);
}

.osu-card {
	--color-card: var(--color-lantern);
}

.article-card {
	width: 100%;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	pointer-events: none;
	position: relative;

	.article-text {
		background-color: #e5e5e5c5;
		width: 60%;
		height: auto;
		max-height: 60vh;
		padding: 40px;
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translate(0%, -50%);

		@media screen and (max-width: 800px) {
			width: 80%;
		}
	}

	.text-link {
		color: inherit;
		text-decoration: inherit;

		&:hover,
		&:focus {
			color: var(--color-card);
		}
	}

	.article-title {
		font-size: 25px;
		pointer-events: auto;
	}

	.article-author {
		font-size: 20px;
	}

	.article-card-button {
		pointer-events: auto;
		padding: 10px 32px;
		font-family: 'Lora', serif;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		border-radius: 50px;
		transition-duration: 0.2s;
		cursor: pointer;
		background-color: rgba(255, 255, 255, 0);

		color: var(--color-card);
		border: 2px solid var(--color-card);

		&:hover,
		&:focus {
			color: white;
			background-color: var(--color-card);
		}
	}

	.card-news-logo {
		margin-bottom: 30px;
		margin-top: 10px;
	}
}

.article-card-left {
	text-align: left;
	.article-text {
		top: 50%;
		left: 100%;
		transform: translate(-100%, -50%);
	}
	.card-news-logo {
		left: 0;
	}
}

.article-card-right {
	text-align: right;
	.card-news-logo {
		right: 0;
	}
}

@media only screen and (max-width: 1075px) {
	.article-card {
		margin-top: 0;
	}

	.article-card-button {
		display: none;
	}
}

@media only screen and (max-width: 850px) {
	.article-card-wrapper {
		width: 100%;
	}

	.article-card {
		height: 70vh;
	}
}

@media only screen and (max-width: 550px) {
	.article-text {
		width: 60%;
		height: auto;
	}
}
